@media screen and (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu-button {
        display: none;
    }

    #main-nav {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    #main-nav a {
        border-top: none;
    }

    .home-page .hero {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
    }

    .home-page .hero img {
        height: 100%;
        object-fit: cover;
    }

    .home-page .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-page .home-grid {
        grid-template-columns: 2fr 1fr;
    }

    .home-page #spotlight-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .directory-page #member-cards.grid-view {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        display: flex;
        justify-content: space-around;
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    .home-page #spotlight-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .directory-page #member-cards.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }
}